body {
    height: 100vh;
    width: 100vw;
    background-image: url(background.gif);
    object-fit: cover;
    font-family: monospace;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.center {
    text-align: center;
}

.window {
    background: white;
    border: solid;
    width: fit-content;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: 16px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topbar {
    position: absolute; 
    width: 100%; 
    display: flex; 
    backdrop-filter: blur(10px); 
    background-color: rgba(72, 255, 0, 0.5); 
    color: #0033ff; 
    justify-content: space-evenly;
}